<app-navbar></app-navbar>

<div class="main-div">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title style="align-items: center;">Opportunity Management Login</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://mma.prnewswire.com/media/1228338/Accolite_Logo_Grey.jpg?p=publish"
      alt="Photo of a Shiba Inu">
    <mat-card-actions>

      <button type="button" (click)="signInWithGoogle()" class="login-with-google-btn">
        Sign in with Google
      </button>
    </mat-card-actions>
  </mat-card>
</div>